<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.areamobile_android_apps.logclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="eu.areamobile_android_apps.logclient.LogApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DetailActivity" android:label="@string/title_activity_detail"></activity>
        
        <activity android:name=".activities.SendActivity" android:label="@string/title_activity_send"></activity><service android:name=".services.DownloadService"></service>
        <service android:name=".services.UploadService"></service>
        <provider android:name=".database.CommentsProvider" android:authorities="eu.areamobile_android_apps.logclient.contentprovider"></provider>
    </application>

</manifest>